@model List<Blogger.Web.Models.Domain.Tag>
@{
    ViewData["Title"] = "List of Tags";
    int nextPage = Convert.ToInt32(ViewBag.pageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.pageNumber) - 1;
}

<div class="bg-light py-2">
    <div class="container">
        <h1>Show All Tag - Admin Functionality</h1>
    </div>
</div>

<form method="get" asp-controller="AdminTags" asp-action="List" 
    asp-route-searchQuery="" asp-route-sortBy="@ViewBag.sortBy" 
    asp-route-sortDirection="@ViewBag.sortDirection" asp-route-pageSize="@ViewBag.pageSize"
>
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-3 d-flex">
                <input type="text" class="form-control" name="searchQuery" value="@ViewBag.searchQuery" placeholder="Search..." />
                <button type="submit" class="btn btn-warning ml-3">Search</button>
            </div>
        </div>
        @if (ViewBag.searchQuery != null)
        {
            <span>Showing Result for : <b>@ViewBag.searchQuery</b></span>
        }
    </div>
</form>

<div class="container py-5">
    @if(Model != null && Model.Any()) {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">
                        Name
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="AdminTags" asp-action="List" asp-route-sortBy="Name" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.searchQuery">
                                    <i class="bi bi-arrow-up-square"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="AdminTags" asp-action="List" asp-route-sortBy="Name" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.searchQuery">
                                    <i class="bi bi-arrow-down-square"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th scope="col">
                        Display Name
                        <span>
                            <span>
                                <a class="btn btn-light" asp-controller="AdminTags" asp-action="List" asp-route-sortBy="DisplayName" asp-route-sortDirection="Asc" asp-route-searchQuery="@ViewBag.searchQuery">
                                    <i class="bi bi-arrow-up-square"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light" asp-controller="AdminTags" asp-action="List" asp-route-sortBy="DisplayName" asp-route-sortDirection="Desc" asp-route-searchQuery="@ViewBag.searchQuery">
                                    <i class="bi bi-arrow-down-square"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <th scope="row">@tag.Id</th>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td>
                            <a asp-area="" asp-controller="AdminTags" asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminTags" asp-action="List"
                       asp-route-pageNumber="@prevPage" asp-route-pageSize="@ViewBag.pageSize"
                       asp-route-sortBy="@ViewBag.sortBy" asp-route-sortDirection="@ViewBag.sortDirection"
                       asp-route-searchQuery="@ViewBag.searchQuery">
                        Previous
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.totalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link" 
                            asp-controller="AdminTags" asp-action="List" 
                            asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.pageSize"
                            asp-route-sortBy="@ViewBag.sortBy" asp-route-sortDirection="@ViewBag.sortDirection"
                           asp-route-searchQuery="@ViewBag.searchQuery">@i</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminTags" asp-action="List"
                       asp-route-pageNumber="@nextPage" asp-route-pageSize="@ViewBag.pageSize"
                       asp-route-sortBy="@ViewBag.sortBy" asp-route-sortDirection="@ViewBag.sortDirection"
                       asp-route-searchQuery="@ViewBag.searchQuery">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    } else {
        <p>No tags found!</p>
    }
</div>
