@model List<Blogger.Web.Models.Domain.Tag>
@{
    ViewData["Title"] = "List of Tags";
}

<div class="bg-light py-2">
    <div class="container">
        <h1>Show All Tag - Admin Functionality</h1>
    </div>
</div>

<form method="get" asp-controller="AdminTags" asp-action="List" asp-route-searchQuery="">
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-3 d-flex">
                <input type="text" class="form-control" name="searchQuery" value="@ViewBag.searchQuery" placeholder="Search..." />
                <button type="submit" class="btn btn-warning ml-3">Search</button>
            </div>
        </div>
        @if (ViewBag.searchQuery != null)
        {
            <span>Showing Result for : <b>@ViewBag.searchQuery</b></span>
        }
    </div>
</form>

<div class="container py-5">
    @if(Model != null && Model.Any()) {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Display Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <th scope="row">@tag.Id</th>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td>
                            <a asp-area="" asp-controller="AdminTags" asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } else {
        <p>No tags found!</p>
    }
</div>
